
.--bondedToken .--bondedToken-pointer {
  cursor: pointer;
}
.--bondedToken input:focus{
    outline: none;
}
.--bondedToken label {
  display: block;
  border-bottom:1px solid grey;
}
.--bondedToken label:not(.--bondedToken-ratio) input[type="number"] {
  width:calc(100% - 100px);
}
.--bondedToken input[type="range"] {
  width:100%;
}
.--bondedToken input[type="number"] {
  display: inline;
  border: none;
  text-align:right;
  font-size: 1rem;
  width:100%;
}
.--bondedToken-flex {
  display: flex;
  justify-content: space-around;
}
/*.--bondedToken-flex > div {
  flex-grow: 1
}*/


.--bondedToken-mx-auto {
  margin-right:auto;
  margin-left:auto;
}
.--bondedToken-eth::after {
  content: ' Ether';
  display:inline;
}
.--bondedToken-token::after {
  content: ' Tokens';
  display:inline;
}